### Challenge
Find the most visited URL per country per day during a week of your choice (e.g. 2018-04-01 until 2018-04-08).

### Expected output
As part of this challenge, we would like you to create a more detailed diagram of the whole system, with every resource reflected on it. Include an explanation on what it is that it does and your approach to solving the challenge.

Feel free to include as well any code or screenshots that are part of your solution if relevant!

### Approach
#### Athena
1. Understand the data using Athena i.e. what the column names mean, what kind of values and data types
2. Choose which columns would be useful - i.e. country_code, url_visited, date
3. Test queries out step by step with the following to try out:
    * COUNT(date) to count how many url per country per day
    * Filter the dates: BETWEEN 2018-04-01 AND 2018-04-08
    * Use GROUP by on country_code, date
    * Do some research to find out how we could get the url that is most visited on the url column
4. Repeat testing until the query performs as expected and gives the output I am looking for

Below is the table I expect to transform to be loaded to my psql table locally

| country_code | date       | most_visited_url                |
|---------|------------|--------------------|
| US    | 2018-04-01 | www.netflix.com |
| CA   | 2018-04-01 | www.netflix.com  |

### Understanding the data and optimising my SQL queries in Athena

1. Get the first five rows to understand what kind of values each column contains
```
SELECT *
FROM vod_clickstream
LIMIT 5;
```
* After executing this query, I found that 
    * `server_request_country_code` shows the country code
    * `dt` shows the full date i.e. 2016-06-09
    * `event_url` shows the url visited i.e. https://www.netflix.com/browse

2. Base on the above findings, I decided to narrow down and check out these three columns
```
SELECT 
server_request_country_code, 
dt, 
event_url
FROM 
vod_clickstream
LIMIT 5;
```
Below is the output I got from Athena and I thought it looked good with the info I need find out what's the most visited url for each country per day for a week of my choice
![Image showing the output from Athena after narrowing down to the 3 columns](./athena_outputs/narrow_query.png)

3. After this I decided to try and filter the dates using the BETWEEN clause
```
SELECT 
server_request_country_code, 
dt, 
event_url
FROM 
vod_clickstream
WHERE dt BETWEEN '2018-04-01' AND '2018-04-08'
LIMIT 5;
```
![Image showing the output from Athena after  filtering on the dates to the week of my choice](./athena_outputs/filter_dates_query.png)

4. Next I decided to try group by on the country code and date so that I can see if it includes all the dates I need. I choose to filter on the country code to be Hong Kong so it's easier to see without all the countries. In the process I was reminded that to use GROUP BY you need to have an aggregate function and I decided to use COUNT on the event_url to count the number of urls visited.
```
SELECT 
server_request_country_code,  
dt, 
COUNT(event_url) AS total_url_visited
FROM 
vod_clickstream
WHERE dt BETWEEN '2018-04-01' AND '2018-04-08'
AND server_request_country_code = 'HK'
GROUP BY server_request_country_code, dt;
```
![Image showing the output of the GROUP BY query filtering on country being Hong Kong](./athena_outputs/group_by_check_dates_query.png)

This looks great except we need to filter out one of the extra days as there are 8 days above. After further checking, 2018-04-01 is a Sunday and I want to use the week beginning on a Monday so this date will be filtered out now.

5. Adjusted the BETWEEN clause so 2018-04-01 is not included
```
SELECT 
server_request_country_code,  
dt, 
COUNT(event_url) AS total_url_visited
FROM 
vod_clickstream
WHERE dt BETWEEN '2018-04-02' AND '2018-04-08'
AND server_request_country_code = 'HK'
GROUP BY server_request_country_code, dt;
```
![Image showing 2018-04-01 not included in the results anymore](./athena_outputs/optimised_between_clause_query.png)

After doing some research, I found out that I just need to add the url column on to the SELECT and GROUP BY clause so that it uniquely identifies the country code, date and url combinations.

6. Adjusted the SQL query and aded `event_url` in the SELECT and GROUP BY clause to see if it can identify unique combinations of country code, date and url for Hong Kong. Also decided to rename the ALIAS on the count to `total_visited`
```
SELECT 
server_request_country_code,  
dt, 
event_url,
COUNT(*) AS total_visited
FROM 
vod_clickstream
WHERE dt BETWEEN '2018-04-02' AND '2018-04-08'
AND server_request_country_code = 'HK'
GROUP BY server_request_country_code, dt, event_url;
```
This gave me 6000+ rows and I could definitely see unique combinations of country code, date and url
![Image showing 15 rows of the sql statement used above](./athena_outputs/unique_combinations_query.png)

7. After some research I think the above query can be used as an inner query and we need an outer query to find the most frequent url. What I think we need to do is SELECT MAX on the `event_url` and `total_visited` columns. Then use a GROUP BY clause on the country code and date.
```
SELECT
    server_request_country_code,
    dt,
    MAX(event_url) AS most_visited_url,
    MAX(total_visited) AS total_visited
FROM (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
        AND server_request_country_code = 'HK'
    GROUP BY 
        server_request_country_code, dt, event_url
) AS url_counts
GROUP BY 
    server_request_country_code, dt;
```
![Image showing the result after adding MAX in the outer query and using the old query as the inner query](./athena_outputs/using_max_and_subquery.png)

This looks really good, we will just need to work on how to ORDER it in the final query. Let's optimise this query with ORDER by first on the country code and date before getting rid of Hong Kong in the filtering.

8. ADD ORDER BY at the end for country code and date (only date is really needed here but using both to check it works before removing HK)
```
SELECT
    server_request_country_code,
    dt,
    MAX(event_url) AS most_visited_url,
    MAX(total_visited) AS total_visited
FROM (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
        AND server_request_country_code = 'HK'
    GROUP BY 
        server_request_country_code, dt, event_url
) AS url_counts
GROUP BY 
    server_request_country_code, dt
ORDER BY
    server_request_country_code, dt;
```
![Image showing optimised query output ordering by date](./athena_outputs/order_by_date_query.png)

This looks great, we can it's showing in order by the date. Now let's get rid of HK in the inner query filter.

9. Removed filter on country code being Hong Kong and I decided to keep the `total_visited` as I think it's useful although not asked by the challenge and not what I had in mind originally from my plan. 
```
SELECT
    server_request_country_code,
    dt,
    MAX(event_url) AS most_visited_url,
    MAX(total_visited) AS total_visited
FROM (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
    GROUP BY 
        server_request_country_code, dt, event_url
) AS url_counts
GROUP BY 
    server_request_country_code, dt
ORDER BY
    server_request_country_code, dt;
```
![Image showing all countries with the most frequently visited link](./athena_outputs/removed_hk_query.png)

There are questionable data here where I first see some empty values for country code in the first 6 rows and also A1 and A2. I would prefer to get rid of the rows where the country code is NULL first in the inner query in this case. Also have a look at what A1 and A2 country code is as in my domain knowledge, that doesn't look like a country code.

Okay so after some research I found that A1 country code stands for `Anonymous proxy`. What Anonymous proxies are is that it allows users to hide where their traffic is coming from (IP Address) so we don't know which country they are coming from. Let's drop the empty country code and the A1 country code. I couldn't find any information on A2 but as in my domain it doesn't look like a country code, I think it's best to drop this out of the final result.

10. Remove empty string, A1 and A2 through inner query by adding country code `NOT IN ('A1', 'A2', '')`
```
SELECT
    server_request_country_code,
    dt,
    MAX(event_url) AS most_visited_url,
    MAX(total_visited) AS total_visited
FROM (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
        AND server_request_country_code NOT IN ('A1', 'A2', '')
    GROUP BY 
        server_request_country_code, dt, event_url
) AS url_counts
GROUP BY 
    server_request_country_code, dt
ORDER BY
    server_request_country_code, dt;
```
![Image showing optimised output and getting rid of rows that are not real country codes](./athena_outputs/filter_out_not_real_country_code_query.png)

I thought this was all good but then realised the MAX clause when used on strings returns in lexicographical order, which is the order in which words are listed in the dictionary (A-Z) - thanks to this [article](https://dbschema.com/2023/08/25/sql-tutorial/sql-min-max-functions/#:~:text=MAX()%20and%20MIN()%20with%20strings,highest%20value%20in%20the%20column.). So in this case that doesn't return the most frequent string so I decided to do more research and see what is the right method to do this.

After doing some research and coming across this medium [article](https://medium.com/@pradeepchandrareddy95/how-to-calculate-mode-in-sql-how-to-find-most-frequent-value-in-a-column-b3f913fdeb1e), I think using CTE would be a good way to get the mode of the `event_url`. I found a good example of how to do this:
```
WITH CategoryCounts AS (
    SELECT product_category, COUNT(*) AS category_count
    FROM sales
    GROUP BY product_category
)

SELECT product_category, category_count
FROM CategoryCounts
WHERE category_count = (
    SELECT MAX(category_count)
    FROM CategoryCounts
);
```

CTE allows you to make temporary tables and store results into this and then use SELECT, INSERT, UPDATE statements. I think it would be good to make a temporary table with the inner query I have and write a new SELECT statement witha subquery inside like the one above to do MAX on the `total_visited`

```
-- Make a CTE to count the visits per URL and country within the date range I choose and exclude unwanted country codes
WITH UrlCounts AS (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
        AND server_request_country_code NOT IN ('A1', 'A2', '')
    GROUP BY 
        server_request_country_code, dt, event_url
)

-- Select the country, date, and URL with the maximum number of visits, 
-- Order by country code and date
SELECT 
    server_request_country_code,
    dt,
    event_url,
    total_visited
FROM 
    UrlCounts
WHERE (server_request_country_code, dt, total_visited) IN (
    SELECT 
        server_request_country_code,
        dt,
        MAX(total_visited) AS max_visited
    FROM UrlCounts
    GROUP BY 
        server_request_country_code, dt
) 
ORDER BY server_request_country_code, dt
```

![Image showing final query after using CTE to make a temporary table](./athena_outputs/cte_and_subquery.png)

The `total_visited` column gives visibility as to how many counts there were for the most visited url and also we can see in the above that the query is working as expected given that **the second and third row of AD FOR '2018-04-03' have two different most frequently visited links both with a count of 7**.

This looks great now, we are ready to transform and load the data to a psql table locally.

### Extract the Data

In [1]:
import boto3
import time
import psycopg2   
from dotenv import load_dotenv
import os

In [2]:
# Set the sql query
sql_query = """
WITH UrlCounts AS (
    SELECT 
        server_request_country_code,  
        dt, 
        event_url,
        COUNT(*) AS total_visited
    FROM 
        vod_clickstream
    WHERE 
        dt BETWEEN '2018-04-02' AND '2018-04-08'
        AND server_request_country_code NOT IN ('A1', 'A2', '')
    GROUP BY 
        server_request_country_code, dt, event_url
)

SELECT 
    server_request_country_code,
    dt,
    event_url,
    total_visited
FROM 
    UrlCounts
WHERE (server_request_country_code, dt, total_visited) IN (
    SELECT 
        server_request_country_code,
        dt,
        MAX(total_visited) AS max_visited
    FROM UrlCounts
    GROUP BY 
        server_request_country_code, dt
) 
ORDER BY server_request_country_code, dt
"""

In [3]:
# Load aws credentials
load_dotenv()
AWS_ACCESS_KEY = os.getenv('AWS_ACCESS_KEY')
AWS_SECRET_KEY = os.getenv('AWS_SECRET_KEY')

In [5]:
# Set up the Athena client
athena_client = boto3.client(
    'athena',
    region_name='eu-west-2',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY)

In [6]:
# Initiate a sql query in Athena and save the info about the query in query_execution
query_execution = athena_client.start_query_execution(
    QueryString=sql_query,
    QueryExecutionContext={
        "Database": "denise-athena-parquet" # Set the database it will run on
    },
    ResultConfiguration={
        "OutputLocation": "s3://athena-learners-etl-bite05/denise/" # Set where the query results will go to
    }
)

In [7]:
# Set the query status variable to "QUEUED"
query_status = "QUEUED"
# Get the query id of the query executed above 
query_execution_id = query_execution["QueryExecutionId"]

In [8]:
# Enters into a while loop whilst the query_status = "QUEUED" or "RUNNING"
while query_status in ["QUEUED", "RUNNING"]:
    # Get info about the query and saved to variable query_execution 
    query_execution = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    # Retrieve the query status
    query_status = query_execution["QueryExecution"]["Status"]["State"]
    # Checks if the query has failed, if so raise exception
    if query_status == "FAILED":
        raise Exception("Athena query failed!")
    # Tell athena to wait to avoid overwhelming athena
    time.sleep(1)

# Retrieve the query results
results = athena_client.get_query_results(
    QueryExecutionId=query_execution_id
)["ResultSet"]["Rows"]

### Transform and Load the Data

In [9]:
# Connect to the local Postgres database
conn = psycopg2.connect(database="etl_bites", user="denisechan", host="localhost", port="5432")
cursor = conn.cursor()

In [10]:
# Drop the table if it exists, otherwise create it
cursor.execute("""
    DROP TABLE IF EXISTS most_frequent_url_per_country_per_day;
    -- Create the table
    CREATE TABLE most_frequent_url_per_country_per_day (
        id SERIAL PRIMARY KEY,
        country_code VARCHAR(2),
        date DATE,
        most_visited_url VARCHAR(255),
        total_visited INTEGER
    );
""")

In [11]:
# Process the query results
for row in results[1:]:
    # Checks if the three columns has empty values
    if not row["Data"][0] or not row["Data"][1] or not row["Data"][2]:
        # Prints the whole row if the first two values are empty
        print(f"Skipping row: {row}")
        continue

    country_code = row["Data"][0]["VarCharValue"]
    date = row["Data"][1]["VarCharValue"]
    most_visited_url = row["Data"][2]["VarCharValue"]
    total_visited = int(row["Data"][3]["VarCharValue"])

    # Insert the data into the local PostgreSQL database
    insert_query = """
        INSERT INTO most_frequent_url_per_country_per_day (country_code, date, most_visited_url, total_visited)
        VALUES (%s, %s, %s, %s);
    """

    try:
        cursor.execute(insert_query, (country_code, date, most_visited_url, total_visited))
        
    except Exception as e:
        print("Error occurred inserting into analytical DB: %s"% e)
        conn.rollback()  # Rollback the transaction if there's an error

# Commit the changes and close the cursor and connection outside the loop
conn.commit() # Commits the changes to the database
cursor.close() # Closes the cursor
conn.close() # Close the database connection

### Check the data has been loaded in my psql table locally

In [12]:
%load_ext sql

In [13]:
%sql postgresql+psycopg2://localhost:5432/etl_bites

Check the rows for `country_code = AD`

In [14]:
%%sql
SELECT * 
FROM most_frequent_url_per_country_per_day 
LIMIT 8;

 * postgresql+psycopg2://localhost:5432/etl_bites
8 rows affected.

[(1, 'AD', datetime.date(2018, 4, 2), 'https://www.netflix.com/browse', 9),
 (2, 'AD', datetime.date(2018, 4, 3), 'https://www.netflix.com/browse', 7),
 (3, 'AD', datetime.date(2018, 4, 3), 'https://www.netflix.com/ad/login', 7),
 (4, 'AD', datetime.date(2018, 4, 4), 'https://www.netflix.com/browse', 5),
 (5, 'AD', datetime.date(2018, 4, 5), 'https://www.netflix.com/browse', 4),
 (6, 'AD', datetime.date(2018, 4, 6), 'https://www.netflix.com/browse', 4),
 (7, 'AD', datetime.date(2018, 4, 7), 'https://www.netflix.com/browse', 12),
 (8, 'AD', datetime.date(2018, 4, 8), 'https://www.netflix.com/browse', 7)]